body {
  background-color: lightgoldenrodyellow;
  color: rgb(181, 196, 100);
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 62px;
}

.cat {
  display: block;
  height: 450px;
  width: 400px;
  margin: 0 auto;
  border-radius: 50%;
  transition-duration: 1s;
  transition-property: transform;
  cursor: pointer;
}

.cat:hover {
  transform: rotate(360deg);
}
